
body {
    background-image: url("https://image.noelshack.com/fichiers/2018/20/5/1526627692-star.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: white;
    justify-content: center;
}

.galaxy-pic {
    width: 100%;
    height: auto;
}