.navbar-nav {
    padding-left: 5rem
}

li {
    padding: 1rem;
    font-size:1.1rem;
    
}

.navbar {
    font-family: 'Codystar', cursive;
}

.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: #f442bc;
    font-weight: bolder;
}

